@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* Grille pour le footer */
footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: flex-end;
    background-color: white;
}

.foo-1 {
    grid-column-start: 1;
    grid-column-end: 2;
}

.foo-2 {
    grid-column-start: 2;
    grid-column-end: 3;
}

.foo-3 {
    grid-column-start: 3;
    grid-column-end: 4;
    display: flex;
    flex-direction: column;
}

.tcenter {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

table {
    width: 100%;
}