@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* On enlève les marges de base, */
body{
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
}

/* On met une limite de taille pour éviter que ça prenne toute la largeur de l'écran */
.content{
  max-width: 1250px;
  margin: auto;
  padding: 0 10px;
}

/* On met la navbar en sticky et on la ramène au premier plan */
.navbar{
  position: fixed;
  width: 100%;
  z-index: 2;
  background-color: rgb(48,48,54,1);
}

/* Flex sur tous les éléments de la navbar (logo compris) */
.navbar .content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Mise en forme du logo, ici on a un texte temporairement */
.navbar .logo {
  color: white;
  font-size: 1.5em;
  font-weight: 700;
  text-decoration: none;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 4px;
}

/* On met les éléments sur une ligne les uns à coté des autres en flex */
.navbar .menu-list{
  display: inline-flex;
}

/* On enlève les points des listes */
.menu-list li{
  list-style: none;
}

/* Paramètres de l'animation sur chaque élément et mise en forme des éléments de la navbar */
.menu-list li a{
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  margin-left: 25px;
  text-decoration: none;
  transition: all 0.3s ease;
}

/* Changement de couleur au hover d'un élément de la navbar */
.menu-list li a:hover{
  color: rgb(126, 181, 102,1);
}

/* Taille et couleur des icônes pour afficher et fermer la navbar */
.icon{
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}

/* Positionnement des boutons pour afficher et fermer la navbar sur petit écran */
.menu-list .cancel-btn{
  position: absolute;
  right: 30px;
  top: 20px;
}

/* Ce qui est fait quand la largeur d'écran est inferieure à 868px */
@media (max-width: 868px) {
  body.disabled{
    overflow: hidden;
  }
  .icon{
    display: block;
  }
  .icon.hide{
    display: none;
  }
  .navbar .menu-list{
    position: fixed;
    height: 110vh;
    width: 100%;
    max-width: 400px;
    left: -100%;
    top: -25px;
    display: block;
    padding: 20px 0;
    text-align: center;
    background: rgb(48,48,54,1);
    transition: all 0.3s ease;
  }
  .navbar.show .menu-list{
    left: 0%;
  }
  .navbar .menu-list li{
    margin-top: 45px;
  }
  .navbar .menu-list li a{
    font-size: 23px;
    margin-left: -100%;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .navbar.show .menu-list li a{
    margin-left: 0px;
  }
}
@media (max-width: 380px) {
  .navbar .logo a{
    font-size: 27px;
  }
}