.wrapper {
    /* max-height: 100vh; */
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

/* Changer l'apparence de la scrollbar */
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 1px;
    height: 5px;
}

/* Obligé sinon la scrollbar est cachée après un certain temps */
::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background-color: rgba(0, 0, 0, .5);
    box-shadow: 0 0 1px rgba(255, 255, 255, .5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
  }

.wrapper .item {
    min-width: 20%;
    min-height: 30vh;
    text-align: center;
    scroll-snap-align: start;
    padding: 25px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.matieres, .graph-section {
    padding: 5%;
}

.matieres i {
    font-size: 3em;
    color: rgb(126, 181, 102,1);
}

.item, #Adm_chart_div, #Fil_chart_div, #Pou_chart_div {
    transition: transform .4s;
}

.item:hover {
    transform: scale(1.05);
    transition: 0.2s;
}

/* -----------------------graph--------------------- */
.graph-section {
    background-color:rgb(126, 181, 102,1) ;
    text-align: center;
    color: white;
}

.graph{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#Adm_chart_div:hover, #Fil_chart_div:hover, #Pou_chart_div:hover {
    transform: scale(1.4);
    transition: 0.2s;
}

.graph-section h1, .matieres h1 {
    font-size: 3em;
    text-align: center;
}

h2 {
    margin: 0;
}

#_ABSTRACT_RENDERER_ID_0 + g >text{
    
    fill: black;
}

/* ---------------------------------------------------- */
@media (orientation : portrait), (max-width: 930px) 
{
    .wrapper {
        flex-direction: column;
    }
    #Adm_chart_div:hover, #Fil_chart_div:hover, #Pou_chart_div:hover {
        transform: none;
    }
    #Adm_chart_div, #Fil_chart_div, #Pou_chart_div {
        transform: scale(0.8);
    }
}
