/* 
A FAIRE
- régler le scroll horizontal --> pourquoi ?!
- remplacer div dans acc-2 --> par quoi ?!
- calendrier dans footer pour événements

*/

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;700&display=swap');

body {
    overflow-x: hidden;
    overflow-y: overlay;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    background-color: #303036;
    color: white;
    position: fixed;
    top: 0;
    height: 5vh;
}
 
body {
    /* background-image: url("../images/background.jpg"); */
    margin: 0;
    height: 100vh;
    width: 100vw;
}

  
/* On enlève la couleur violet dégueu et le soulignement */
.nav-item {
    text-decoration: none;
    color: white;
    padding: 4px 15px 4px 15px;
}

input{
    border-radius: 10px;
    
}
button{
    border-radius: 10px;
}

/* Effet au passage de la souris, padding plus grand sur les côtés pour effet de largeur et radius dessus  */
.nav-item:hover {
    background-color: rgba(217, 217, 217, 0.5);
    border-radius: 10px;
}

/* Mise en place de la grille pour les items de la page d'accueil*/
.acc {
    display: flex;
    flex-direction: column;
}

/* On positionne les éléments dans la grille */
.acc-item {
    padding: 3%;
}

.acc-1 {
    background-color: rgb(255,255,255,0.97);
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    letter-spacing: .5px;
}

/* On définit aussi une nouvelle grille dans cet élément */
.portraits {
    display: flex;
    justify-content: center;
    align-items: center;
}

.acc-2 {
    background-color: rgb(48,48,54,0.97);
    color: white;
}

.acc-3 {
    background-color: rgb(126, 181, 102,0.97);
}

.frgr {
    grid-column-start: 1;
    grid-column-end: 2;
}

.elcu {
    grid-column-start: 2;
    grid-column-end: 3;
}

/* Grille pour le footer */
footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: flex-end;
    background-color: white;
}

.foo-1 {
    grid-column-start: 1;
    grid-column-end: 2;
}

.foo-2 {
    grid-column-start: 2;
    grid-column-end: 3;
}

.foo-3 {
    grid-column-start: 3;
    grid-column-end: 4;
}

.tcenter {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

table {
    width: 100%;
}

.campus {
    width: 100%;
    top: 5vh;
    position: sticky; 
    z-index: -1;
}