.wrapper {
    /* max-height: 100vh; */
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

/* Changer l'apparence de la scrollbar */
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 1px;
    height: 5px;
}

/* Obligé sinon la scrollbar est cachée après un certain temps */
::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background-color: rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
  }

.wrapper .item {
    min-width: 20%;
    min-height: 30vh;
    text-align: center;
    scroll-snap-align: start;
    padding: 25px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.matieres {
    padding: 5%;
}

.matieres i {
    font-size: 3em;
    color: rgb(126, 181, 102,1);
}

@media (max-width: 868px) {
    .wrapper {
        flex-direction: column;
    }
}