/* 
A FAIRE
- remplacer div dans acc-2 --> par quoi ?!
- calendrier dans footer pour événements
- web components
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* Mise en place de la grille pour les items de la page d'accueil*/
.acc {
    display: flex;
    flex-direction: column;
}

/* On positionne les éléments dans la grille */
.acc-item {
    padding: 5%;
    font-size: 1.1em;
}

.acc-1 {
    background-color: rgb(255,255,255,1);
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    letter-spacing: .5px;
}

/* On définit aussi une nouvelle grille dans cet élément */
.portraits {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: .3fr 1fr;
}

.galerie {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}

.item {
    text-align: center;
}

.photo {
    border-radius: 50%;
    width: 25%;
    filter: grayscale(100%);
}

.acc-2 {
    background-color: rgb(48,48,54,1);
    color: white;
}

.acc-3 {
    background-color: rgb(126, 181, 102,1);
}

.frgr {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

.elcu {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.frgr-photo {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.elcu-photo {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

/* Grille pour le footer */
footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: flex-end;
    background-color: white;
}

.foo-1 {
    grid-column-start: 1;
    grid-column-end: 2;
}

.foo-2 {
    grid-column-start: 2;
    grid-column-end: 3;
}

.foo-3 {
    grid-column-start: 3;
    grid-column-end: 4;
    display: flex;
    flex-direction: column;
}

.tcenter {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

table {
    width: 100%;
}

.campus {
    width: 100%;
    height: 105vh;
    top: 3vh;
    position: sticky; 
    z-index: -1;
    object-fit: cover;
}

.img-para1 {
    background-image: url("https://images.pexels.com/photos/572688/pexels-photo-572688.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
    width: 100%;
    height: 20vh;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.bvn {
    position: relative;
    text-align: center;
    color: red;
}
  
.msg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    background-color: rgb(126, 181, 102,1);
    color: white;
    font-size: 3.5em;
    font-weight: 700;
    padding: 25px;
    border-radius: 5px;
    font-family: 'Bebas Neue', cursive;
}