/* Mise en place de la grille pour la barre de navigation */
nav {
    grid-template-columns: 3fr 1fr 2fr 2fr 2fr 2fr 1fr 3fr;
    grid-template-rows: 1fr;
    width: 100vw;
    display: grid;
    text-align: center;
}

/* On dit où chaque élément de la barre de navigation commence et se termine */
.logo {
    grid-column-start: 1;
    grid-column-end: 2;
}

.lien-accueil {
    grid-column-start: 3;
    grid-column-end: 4;
}

.lien-formation {
    grid-column-start: 4;
    grid-column-end: 5;
}

.lien-contenu {
    grid-column-start: 5;
    grid-column-end: 6;
}

.lien-temoignages {
    grid-column-start: 6;
    grid-column-end: 7;
}

.recherche {
    grid-column-start: 8;
    grid-column-end: 9;
}

/* On enlève la couleur violet dégueu et le soulignement */
.nav-item {
    text-decoration: none;
    color: black;
}

/* Effet au passage de la souris, padding plus grand sur les côtés pour effet de largeur et radius dessus */
.nav-item:hover {
    background-color: rgba(217, 217, 217, 0.5);
    border-radius: 10px;
    padding: 4px 15px 4px 15px;
}

/* On enlève le scroll horizontal --> Chercher pourquoi ça met un screen alors que 100vw ?! */
body {
    overflow: hidden;
}

/* Mise en place de la grille pour les items de la page d'accueil*/
.acc {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    display: grid;
}

/* On dit où chaque élément */