.wrapper {
    /* max-height: 100vh; */
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

.wrapper::-webkit-scrollbar {
    width: 0;
}

.wrapper .item {
    min-width: 20%;
    /* width: calc((100%-95px)/3); */
    min-height: 50vh;
    /* height: 30vh; */
    text-align: center;
    scroll-snap-align: start;
    padding: 25px;
    margin: 10px;
    box-shadow: 0 5px 5px -5px #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.matieres {
    padding: 5%;
}

.matieres i {
    font-size: 3em;
    color: rgb(126, 181, 102,1);
}

@media (max-width: 868px) {
    .wrapper {
        flex-direction: column;
    }
}