@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

main{
    display: flex;
    flex-direction: column;
}

h1{
    font-size: xxx-large;
    text-align: center;
    color: lightsteelblue;
}

/* ---------topbox----------- */
.poursuite{
    display: flex;
    flex-direction: column;
    background-image:url("/images/pexels-marc-mueller-380769.jpg");
    background-size: contain;
    

    
}

.top{
    display: flex;
    background-color: #ffff;
    border-radius: 10px;
    justify-content: space-between;
    padding: 25px;
}

.bot{
    background-color: rgb(126, 181, 102,1);
    
}

.card{
    background-color: lightblue;
    width: 30%;
    gap: 5%;
    border-radius: 10px;
}
.card p{
    padding: 10px;
}

@media screen and (max-width: 988px)
{
    .top{
        flex-direction: column;
        align-items: center;
        
        
    }
    .card{
        width: 40vh;
        margin-bottom: 10px;
        
    }
}

/* ----------------midBox-------------------- */


.mid{
    display: flex;
    justify-content: space-around;
    background-color: rgb(48,48,54);
    padding: 25px;
   
}


.circle1 ,.circle2{
    background-color: lightseagreen;
    width: 200px;
    height: 200px;
    padding: 10px;
    border-radius: 50%;
    margin-bottom: 10px;
}
@media screen and (max-width: 988px)
{
    .mid{
        flex-direction: column;
        align-items: center;
    }
}

