/*  */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


/* ------------Titre------------*/
.bvn {
    background:url("../images/doua1.jpg") center;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    position: relative;
    text-align: center;
}
  
.msg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    background-color: rgb(126, 181, 102,1);
    color: white;
    font-size: 3.5em;
    font-weight: 700;
    padding: 25px;
    border-radius: 5px;
    font-family: 'Bebas Neue', cursive;
}

/* ------------Mise en page de chaque partie------------ */
.acc-item {
    padding: 5%;
}

/* ------------Description du BUT------------ */
.acc-1 {
    background-color: rgb(255,255,255,1);
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    letter-spacing: .5px;
}

/* ------------Trois buts du site------------ */

.acc-2 {
    background-color: rgb(48,48,54,1);
    color: white;
}
.galerie {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}

.galerie figure {
    text-align: center;
    padding: 20px;
    transition: 0.5s 0s ease-in-out;
}

figure button {
    border: 1px white solid;
    border-radius: 5px;
    background-color: transparent;
    color: white;
    padding: 10px;
    font-weight: 700;
    letter-spacing: 1px;
}

figure:hover {
    transform: scale(1.05);
}

figure button:hover {
    cursor: pointer;
}

/* ------------Actualités------------ */

.acc-3{
    background-color:rgb(126, 181, 102,1);
}

.actualites {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.grid-actu{
    display: grid;
    grid-template-columns: repeat(2,15em);
    gap: 40px;

}

.titre {
    color: white;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    
}

.titre h1{
    font-size:5em;
}

.box img{
    width: 100%;
    border-radius: 10px;
    filter: grayscale(100%);

}

.box{
    position: relative;
}

.box h2{
    position: absolute;
    width: calc(100% - 20px);
    color:rgb(255, 255, 255);
    background-color: rgb(26, 26, 26,0.80);
    opacity: 0;
    bottom: 20%;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}

.box:hover img{
    filter: none;
    transform: scale(1.03);
    transition: 0.5s ease-in-out;
}

.box:hover h2{
    transform: scale(1.01);
    transition: 0.5s ease-in-out;
    opacity: 1;    
}

.img-para1 {
    background-image: url("/images/Campus-de-la-Doua.jpg");
    width: 100%;
    height: 30vh;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

/* ------------Media queries------------ */
@media screen and (max-width: 988px)
{
    .galerie, .portraits{
        flex-direction: column;
    }
}
