@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

main h1{
    font-size: xx-large;
    text-align: center;
}

main section {
    padding: 5%;
}

/* ------------Poursuites------------ */
.top {
    display: flex;
    background-color:#ffff;
    justify-content: space-evenly;
    padding: 25px;
}

.card {
    height: 500px;
    width: 400px;
    background-color: rgba(126, 181, 102,1 );
    backdrop-filter: blur(5px);
    border-radius: 15px;
    transition: 0.3s;
    margin: 5px;
}

.card .content .picture {
    width: auto;
    height: auto;
    text-align: center;
    padding-top: 30px;
}

.card .content .picture img {
    width: 90%;
    height: auto;
    border-radius: 10px;
    filter: grayscale(100%);
}

.card .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 20px;
    justify-content: space-evenly;
}

.card .content h1,.card .content p {
    margin:0px;
    color: #ffff;
    text-align: center;
}

.card p {
    padding: 10px;
}

.card:hover {
    transform: scale(1.03);
}


/* ------------Liste des étudiants------------ */
.contact {
    background-color: rgb(48,48,54);
}

.card-circle {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.content_C img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 10px solid rgb(126, 181, 102,1);
    transition: 0.3s;
}

.contact h1 {
    color: white;
}

.card-circle h1 {
    font-size: x-large;
    font-weight: bold;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}

.contact p {
    color: white;
    text-align: center;
}

.content_C img:hover {
    transform: scale(1.1);
}


/* ------------Qui sommes nous------------ */

.auteurs {
    background-color: rgb(126, 181, 102,1);
    color: white;
    text-align: center;
}

.auteurs h1 {
    color: white;
}

.portraits {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.portraits > div {
    width: 100%;
}

.portraits > div > img {
    width: 25%;
    filter: grayscale(100%);
    border-radius: 50%;
}

.personne {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ------------Formulaire------------ */

.formulaire-box {
	display: grid;
	grid-template-areas: "formulaire description";
	grid-template-columns: 1fr 1fr;
}

main form {
	width: 75%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.formulaire {
	display: flex;
	justify-content: center;
	grid-area: formulaire;
}

.description {
	grid-area: description;
}

textarea {
	resize: vertical;
}

main input[type="text"], main input[type="email"], select, textarea {
	padding: 5px;
	border: none;
	height: 15px;
	margin-bottom: 15px;
	background-color: rgb(48,48,54, .1);
	border-radius: 5px;
}

label {
	font-size: large;
}

/* ------------Media Queries------------ */
@media screen and (max-width: 1250px)
{
    .card-circle{
       display: grid;
       grid-template-columns: 1fr 1fr;
       grid-template-rows: 1fr 1fr;
       grid-template-areas: 
        "box1 box2"
        "box3 box4";
        justify-items: center;
        justify-content: space-evenly;
    }
    .box1{
        grid-area: box1;
    }
    .box2{
        grid-area: box2;
    }
    .box3{
        grid-area: box3;
    }
    .box4{
        grid-area: box4;
    }
    
}

@media screen and (max-width: 1250px)
{
    .top{
        flex-direction: column;
        align-items: center;
    }
    .card{
        margin-bottom:10% ;
    }
}

@media screen and (max-width: 1250px)
{
    .galerie, .portraits{
        flex-direction: column;
    }
}
